@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
 html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
     max-height: 100vh;
     overflow-y: hidden;
    width: 100%;
    
  }
  
 .form-container{
  background-color:#E0B0FF;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-wrapper{
  background-color: #9e509b;
  height: 55%;
  width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
}
form{
  height: 70%;
  display: flex;
  flex-direction: column;
  
  justify-content: space-around;

}
.logo-sec{
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.logo{
  font-size: 20px;
color: #ffffff;
font-family: 'Lobster', sans-serif;
letter-spacing: 2px;
}
input{
  border: none;
  padding: 4px;
  border-bottom: 1px solid #E0B0FF;
}
input::placeholder{
  color: rgb(0,0,0,0.5);
}
label{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  padding: 10px 0px;

}
.form-wrapper p{
  font-size: 0.7em;
}
button{
  background-color:#E0B0FF;
  color:#9e509b;
  font-weight: 700;
  border-radius: 10px;
  padding:5px 30px;
  border: none;
}
.form-wrapper form input{
  background-color: #9e509b;
  color: #ffffff;
  
}
.form-wrapper form input:focus{
  
  outline: none;
}
.form-wrapper form input::placeholder{
  color: #ffffff;
  opacity: 0.7;
}
.title{
  color: aqua
}
/*@media screen and (min-width: )*/

/* styling the Home-page */


.App{
  height: 100vh;
}
.home-container{
height: 100%;
background-color: #ffffff;
display: flex;
flex-direction: row;
}
.header{
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  background-color: #6b3669;
}
.header span{
font-size: 20px;
color: #ffffff;
font-family: 'Lobster', sans-serif;
letter-spacing: 2px;
}
.sidebar{
  background-color: #9e509b;
  width: 30%;
  
  
}
.chat{
  width: 65%;
  border-radius: 20px;
}
.sidebar-navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  background-color: #763568;
  padding: 10px;
}
.sidebar-navbar span{
  font-size: 20px;
  font-weight: 800;
}
.icons-navbar{
  width: 5%;
  
  background-color: #6b3669;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}
.top-icons,.bottom-icons{
  height:20%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}
.top-icons img, .bottom-icons img{
  filter: invert(75%);
}
.chat-navbar{
  background-color: #602f6b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13.5px;
}
.chat-navbar span {
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
}
.chat-navbar img{
  filter: invert(100%);
}
.chat-navbar .icons {
  display: flex;
  justify-content: space-around;
  width: 10%;
}
.search{
  display: flex;
  padding-left: 20px;
  gap: 5px;
  border-bottom: 1px solid black;
}
.search input{
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 700;
}
.search input::placeholder{
  color: #ffffff;
  font-weight: 500;
}
.search label img{
  filter: invert(100%);
}
.chat{
  background-color: #e6cde5;
}
.chat-body{
  max-height: 70%;
}
.input{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 65%;
}
.input input{
  border: none;
  outline: none;
}
.input .icons{
  display: flex;
  gap: 20px;
  align-items: center;
  width: 20%;
  
}
.input .icons img{
  opacity: 0.5;
  cursor: pointer;
}
.input button{
  padding: 5px 6px ;
  background-color: dodgerblue;
  border-radius: 0px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.user{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  width: 45%;
}
.user :nth-child(1){
display: flex;
align-items: center;
gap: 5px;
}

.chats-image,.receiver .img{
  padding: 15px;
  border-radius: 50%;
  background-image: url('./Assets/user.jpg');
  background-position: center;
  background-size: 95% 100%;
  object-fit: cover;

}
.user-image{
  
  border-radius: 50%;

}
.user :nth-child(1) span{
  font-size: 16px;
  font-weight: 400;
}
.logout{
  background-color: brown;
  padding: 3px 5px;
  font-size: 10px;
  cursor: pointer;
}
.chats-wrapper{
  display: flex;
  flex-direction: column;
  max-height: 70%;
  overflow-y: auto;
  
}

.chats{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 12px;
  padding: 10px;
}
.chats:hover{
  background-color: #6b3669;
  cursor: pointer;
  transition-duration: 1s;
}
.chats-image{
  padding: 20px;
  width: 40px;
  height: 35px;
  border-radius: 50%;
}
.chats img{
  padding: 20px;
  width: 40px;
  height: 35px;
  border-radius: 50%;
}
.user-chat-info span{
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}
.user-chat-info p{
margin: 0;
color:#ffffff ;
font-weight: 300;
font-size: 12px;
}

/*chat-body*/
.chat-body{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px;
  max-height: 73%;
  overflow-y: auto;
}
.receiver-chat{
  display: flex;
  align-items: center;
  height: 70px;
  gap: 10px;
}
.receiver-chat .chatbox{
  background-color: #ff85a2;
  padding: 5px 10px;
  border-radius:10px 0px 10px 10px ;
}
.receiver .img{
  padding: 15px;
}
.sender-chat{
  display: flex;
  align-items: center;
  height: 70px;
  gap: 10px;
}
.sender .img{
  background-image: url('./Assets/sender.jpg');
  padding: 15px;
  border-radius: 50%;
  background-position: center;
  background-size: 95% 100%;
  object-fit: cover;
  
}
.receiver .time,.sender .time{
  filter: invert(40%);
  font-size: 12px;
}
.sender-chat .chatbox{
  background-color: #8BC6FC;
  padding: 5px 10px;
  border-radius:0px 10px 10px 10px ;
}
.receiver-chat-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*styling the scrollbar */

/* Targeting the overall scrollbar */
::-webkit-scrollbar {
  width: 7px;
}
/* Targeting the track (the area the thumb moves along) */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Targeting the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}
.alert{
  border: 1px solid red;
  background-color: #FF3131;
  color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 200px;
  font-size: 10px;
  
}
.user-image{
  width: 50px;
}
.userChat{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.userChat:hover{
  background-color: #6b3669;
  cursor: pointer;
  transition-duration: 1s;
}
.userChat img{
  width: 40px;
  border-radius: 50%;
  height: 35px;
}
.userChatInfo span{
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
} 

.welcome-page{
  background-color:#DBDCFF;
  display: flex;
   height: 100vh;
  justify-content: center;
  align-items: center;
  
}
.welcome-page-ctn{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13em;
  border-radius: 20px;
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.3), /* Dark shadow */
   inset  -7px -7px 15px 0px rgba(255, 255, 255, 0.8); /* Light shadow */;
}
.welcome-img{
  width: 100%;
  height: 45%;
  border-radius: 20px 20px 0px 0px;
}
.welcome-page-ctn div{
  color: #ffffff;
  background-color: #00264B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius:0px 0px 20px 20px;
}
.welcome-page-ctn .content .heading{
  display: flex;
  align-items: center;
  width: 100%;
}
.welcome-page-ctn .content .heading h4 {
  font-family: "Kode Mono", monospace;
  color:#057cfc;
  font-size: 25px;
  margin: 0px;
  width: 150px;
  display: flex;
  gap: 5px;
}
.welcome-page-ctn .content .heading h5{
 margin:10px 0px 0px 20px;
  
  width: 100%;
  text-align: left;
  letter-spacing: 2px;
}
.welcome-page-ctn .content .heading h5 span{
  font-family: "Kode Mono", monospace;
  color:#057cfc;
  font-size: 20px;
}
.welcome-page-ctn .content p{
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  font-weight: 500;
}
.welcome-btn{
  margin-bottom: 10px;
  background-color: #057cfc;
  color: #ffffff;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  padding: 10px 20px;
}