@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
     max-height: 100vh;
     overflow-y: hidden;
    width: 100%;
    font-family: "Anta", sans-serif;
  }
  
 .form-container{
  background-color:#DBDCFF;
  display: flex;
   height: 100vh;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.form-wrapper{
  display: flex;
   background-color: #00264B; 
  flex-direction: column;
  align-items: center;
  width: 15em;
  height: 70%;
  border-radius: 20px;
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.3), /* Dark shadow */
    -7px -7px 15px 0px rgba(255, 255, 255, 0.8); /* Light shadow */;
    padding-top: 20px;
    color: #ffffff;
}
form{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15px;
}
/* .logo-sec{
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.logo{
  font-size: 20px;
color: #ffffff;
font-family: 'Lobster', sans-serif;
letter-spacing: 2px;
} */
/* input{
  border: none;
  padding: 4px;
  border-bottom: 1px solid #ffffff;
} */

label{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  padding: 10px 0px;

}
.form-wrapper p{
  font-size: 0.7em;
}
button{
  background-color: #057cfc;
  color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
  padding:5px 30px;
  border: none;
}
.form-wrapper form input{
  background-color:#00264B;
  color: #ffffff;
  border: none;
  padding: 4px;
  border-bottom: 1px solid #ffffff;
  font-family: "Anta", sans-serif;
}
.form-wrapper form input:focus{
  
  outline: none;
}
.form-wrapper form input::placeholder{
  color: #ffffff;
  opacity: 0.7;
}
.title{
  font-family: "Kode Mono", monospace;
  color:#057cfc;
  font-size: 20px;
}

/* styling the Home-page */


.App{
  height: 100vh;
}
.home-container{
height: 100%;
background-color: #ffffff;
display: flex;
flex-direction: row;
}
.header{
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  background-color: #00264B;
}
.header span{
font-size: 20px;
font-family: "Kode Mono", monospace;
 color:#057cfc;
letter-spacing: 1px;

}
.sidebar{
  background-color: #00264B;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow-y: auto;
}
@media screen and (min-width:768px){
  .sidebar{
    width: 50%;
  }
}
.show{
  width: 100%;
  border-radius: 20px;
  display: block;
  height: 100vh;
 
  position: fixed;
}
@media screen and (min-width:768px){
  .show{
    position: static;
  }
}
 .hide{
  display: none;
}
.sidebar-navbar{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:rgba(255, 255, 255, 0.6);
  background-color: #00264B;
  padding: 10px;
}
.sidebar-navbar span{
  font-size: 20px;
  font-weight: 800;
}
/* .icons-navbar{
  width: 5%;
  display: none;
  background-color: #6b3669;
  
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

} */
/* .top-icons,.bottom-icons{
  height:20%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}
.top-icons img, .bottom-icons img{
  filter: invert(75%);
} */
.chat-navbar{
  background-color:#ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13.5px;
}
.chat-navbar span {
  color: black;
  font-size: 17px;
  font-weight: 300;
}


.chat-navbar .user-info{
  
  display: flex;
  align-items: center;
  gap: 10px;
}
.chat-navbar .user-info img{
width: 50px;
border-radius: 50%;
height: 35px;
}
.search{
  display: flex;
  padding-left: 20px;
  gap: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);

}
.search input{
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 600;
  font-family: "Anta", sans-serif;
  
}
.search input::placeholder{
  color: rgba(255, 255, 255, 0.4);
  font-weight: 500;
  font-family: "Anta", sans-serif;
}


.chat-body{
  max-height: 90%;
  background:#ccccff;
  height: 90%;
}
.chat-body .default{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.chat-body .default p{
  margin: 10px;
}
.chat-body .default :nth-child(2){
  padding: 0px 20px;
}
@media screen and (min-width:1024px){
.chat-body .default :nth-child(2){
  padding: 0px 140px;
}}
@media screen and (max-width:767px){
  .chat-body .default{
  font-size: 10px;
  }
}
.chat-body .default h3{
  margin: 0px;
}
.chat-body .default h3 span{
  font-family: "Kode Mono", monospace;
  color:#057cfc;
  font-size: 25px;
  
  width: 150px;
 
 
}
.input{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
 width: 100%;
}
@media screen and (min-width:768px){
  .input{
    width: 67%;
  }
}

.input input{
  border: none;
  outline: none;
  margin-left: 2%;
}
.input .icons{
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  margin-right: 2%
}
.input .icons label{
  cursor: pointer;
}
.input button{
  padding: 5px 6px ;
 
  background-color: transparent;
  cursor: pointer;
}
.user{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  color: #ffffff;
}
.user :nth-child(1){
display: flex;
align-items: center;
gap: 5px;
}

.chats-image,.receiver .img{
  padding: 15px;
  border-radius: 50%;
  background-image: url('./Assets/user.jpg');
  background-position: center;
  background-size: 95% 100%;
  object-fit: cover;

}
.user-image{
  border-radius: 50%;
  width: 40px;
  height: 35px;
}
.user :nth-child(1) span{
  font-size: 16px;
  font-weight: 400;
}
.logout,.chat-navbar svg{
  cursor: pointer;
}
.chats-wrapper{
  display: flex;
  flex-direction: column;
 
  background-color: #00264B;
  
  
}

.chats{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 12px;
  padding: 10px;
  background-color: #00264B; 
}
.chats:hover{
  background-color:#003060;
  cursor: pointer;
  transition-duration: 1s;
}
.chats-image{
 
  width: 40px;
  height: 35px;
  border-radius: 50%;
}
.chats img,.sender img, .receiver img{
 
  width: 40px;
  height: 35px;
  border-radius: 50%;
}
.user-chat-info .user-name{
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255);
}
.send-img{
  width: 72.5%;
}

@media screen and (min-width:768px){
  .send-img{
    width: 50%;
  }
}
/* .user-chat-info p{
margin: 0;
color:#ffffff ;
font-weight: 300;
font-size: 12px;
} */

/*chat-body*/
.chat-body{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px;
  max-height: 73%;
  overflow-y: auto;
  padding-bottom: 20px;
}
.sender-chat{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: right;
  font-size: 15px;
}
.sender-chat .chatbox{
  background-color: #ff85a2;
  padding: 5px 30px;
  border-radius:10px 0px 10px 10px ;
 
}
.chatbox{
  font-size: 10px;
}
@media screen and (min-width:768px){
  .chatbox{
    font-size: 15px;
  }
}
.sender .img{
  padding: 15px;
}
.receiver-chat{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 70px;
  gap: 10px;
  font-size: 15px;
}
/* .receiver .img{
  background-image: url('./Assets/sender.jpg');
  padding: 15px;
  border-radius: 50%;
  background-position: center;
  background-size: 95% 100%;
  object-fit: cover;
  
}
.receiver .time,.sender .time{
  filter: invert(40%);
  font-size: 12px;
} */
.time{
  font-size: 10px;
}
.receiver-chat .chatbox{
  background-color: #8BC6FC;
  padding: 5px 10px;
  border-radius:0px 10px 10px 10px ;
}
.sender-chat-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sender-chat-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*styling the scrollbar */

/* Targeting the overall scrollbar */
::-webkit-scrollbar {
  width: 7px;
}
/* Targeting the track (the area the thumb moves along) */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Targeting the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}
.alert{
  border: 1px solid #e32636;
  /* background-color: #e32636; */
  color:#e32636;
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.3), /* Dark shadow */
  inset -7px -7px 15px 0px rgba(255, 255, 255, 0.8); /* Light shadow */;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 190px;
  font-size: 10px;
  
}
.user-image{
  width: 50px;
}
.userChat{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;

}
 .userChat:hover{
  background-color:#003060;
  cursor: pointer;
  transition-duration: 1s;
} 
.userChat img{
  width: 40px;
  border-radius: 50%;
  height: 35px;
}
.userChatInfo span{
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
} 

.welcome-page{
  background-color:#DBDCFF;
  display: flex;
   height: 100vh;
  justify-content: center;
  align-items: center;
  
}
.welcome-page-ctn{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15em;
  border-radius: 20px;
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.3), /* Dark shadow */
   inset  -7px -7px 15px 0px rgba(255, 255, 255, 0.8); /* Light shadow */;
}
@media screen and (min-width:768px){
  .welcome-page-ctn{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 60%;
  }
}
.welcome-img{
  width: 100%;
  height: 45%;
  border-radius: 20px 20px 0px 0px;
}
@media screen and (min-width:768px){
  .welcome-img{
    width: 50%;
    height: 100%;
    border-radius: 0px;
  }
}
.welcome-page-ctn div{
  color: #ffffff;
  background-color: #00264B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius:0px 0px 20px 20px;
}
@media screen and (min-width:768px){
  .welcome-page-ctn div{
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    width: 100%;
  }
}
.welcome-page-ctn .content .heading{
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (min-width:768px){
  .welcome-page-ctn .content .heading{
    height: 30%;
    width: 80%;
  }
  
}
.welcome-page-ctn .content .heading h4 {
  font-family: "Kode Mono", monospace;
  color:#057cfc;
  font-size: 25px;
  margin: 0px;
  width: 150px;
  display: flex;
  gap: 5px;
}
.welcome-page-ctn .content .heading h5{
 margin:10px 0px 0px 20px;
  
  width: 100%;
  text-align: left;
  letter-spacing: 2px;
}
.welcome-page-ctn .content .heading h5 span{
  font-family: "Kode Mono", monospace;
  color:#057cfc;
  font-size: 20px;
}
.welcome-page-ctn .content p{
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  font-weight: 500;
}
.welcome-btn{
  margin: 20px 0px;
  background-color: #057cfc;
  color: #ffffff;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  padding: 10px 20px;
  
}
/* .last-messege{
  font-size: 100px;
  color: #ffffff;
} */
.default-chat-navbar-image{
  width: 45px;
  height: 35px;
  border-radius: 50%;
  background-color: gray;
}